<%- include('include/_header') %> <%- include('include/_homepageNavBar') %>

<!-- Main Site -->
<main>
  <div class="indexTopBar">
    <h2>Admin Home Page</h2>
  </div>
</main>

<!-- /Main Site -->

<script src="/js/adminHome.js"></script>

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
