<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<main class="container mx-auto px-4 py-8 flex-grow">
  <h1 class="text-4xl font-bold text-primary-dark mb-8 text-center">Admin Home Page</h1>

  <!-- Main content goes here -->
</main>

<script src="/js/adminHome.js"></script>

<%- include('include/_footer') %> <%- include('include/_end') %>
