<%- include('include/_header') %>

<!-- Main Site -->
<div class="navbar">
  <a href="/stuHome" class="blue-button" role="button">Student</a>
  <a href="/tutHome" class="blue-button" role="button">Tutor</a>
  <a href="/leadHome" class="blue-button" role="button">Tutor Leader</a>
  <a href="/teachHome" class="blue-button" role="button">Teacher</a>
  <a href="/adminHome" class="blue-button" role="button">Admin</a>
</div>

<!-- Description -->
<div class="orange-box">
  <h2 style="text-align: center">Welcome to Huskie Peer Tutoring!</h2>
  <p>
    Huskie Peer Tutoring is a platform designed to facilitate peer-to-peer
    learning and support within our community. Whether you are a student seeking
    help, a tutor offering your expertise, a tutor leader coordinating efforts,
    or a teacher overseeing the process, we have a dedicated space for you.
  </p>
  <ul>
    <li>
      <strong>Student:</strong> Click on "Student" to find resources and request
      tutoring sessions.
    </li>
    <li>
      <strong>Tutor:</strong> Click on "Tutor" to manage your tutoring sessions
      and connect with students.
    </li>
    <li>
      <strong>Tutor Leader:</strong> Click on "Tutor leader" to oversee tutor
      activities and provide guidance.
    </li>
    <li>
      <strong>Teacher:</strong> Click on "Teacher" to monitor student progress
      and tutor performance.
    </li>
    <li>
      <strong>Admin:</strong> Click on "Admin" to manage the platform settings
      and user accounts.
    </li>
  </ul>
</div>
<!-- /Description -->

<!-- Pop-up Message
<div id="welcomePopup" class="popup">
  <div class="popup-content">
    <span class="close">&times;</span>
    <p>Welcome to Huskie Peer Tutoring! Click on the buttons for resources.</p>
    <p>We hope you find what you need!</p>
    <img src="/img/NNHS-logo.png" alt="NNHS Logo" class="NNHS-logo" />
    <p>Woof!</p>
  </div>
</div>
 /Pop-up Message -->

<!-- /Main Site -->

<script src="/js/index.js"></script>
<link rel="stylesheet" href="/css/styles.css" />

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
