<%- include('include/_header') %>

<!-- Main Site -->
<div class="navbar">
  <a href="/stuHome" role="button">Student</a>
  <a href="/tutHome" role="button">Tutor</a>
  <a href="/leadHome" role="button">Tutor leader</a>
  <a href="/teachHome" role="button">Teacher</a>
  <a href="/adminHome" role="button">Admin</a>
</div>

<!-- /Main Site -->

<script src="/js/index.js"></script>

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
