<%- include('include/_header') %>

<!-- Main Site -->
<main>
  <div class="indexTopBar">
    <h2>Tutor Leader Home Page</h2>

    <h1 class="heading">Tutor Leader Resources</h1>
    <!-- <div class="createEntry-form-box"> -->
    <h3 class="h3">Attendance</h3>
    <div class="form-columns">
      <div class="column">
        <a href="/attendance" class="full-width-button" role="button"
          >Attendance Sheet</a
        >
        <!-- </div> -->
      </div>
    </div>
  </div>
</main>

<!-- /Main Site -->

<script src="/js/leadHome.js"></script>

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
