<%- include('include/_header') %> <%- include('include/_leadNavBar') %>

<main class="container mx-auto px-4 py-8 flex-grow">
  <h1 class="text-4xl font-bold text-primary-dark mb-8 text-center">Tutor Leader Resources</h1>

  <div class="bg-white rounded-lg shadow-lg p-6 w-full">
    <div class="grid grid-cols-1 gap-6">
      <div>
        <a
          href="/attendance"
          class="w-full bg-blue-500 hover:bg-blue-600 text-white font-bold py-3 px-4 rounded-lg transition duration-200 flex items-center justify-center"
        >
          Attendance Tracker
        </a>
      </div>
      <div>
        <a
          href="/notifications"
          class="w-full bg-indigo-500 hover:bg-indigo-600 text-white font-bold py-3 px-4 rounded-lg transition duration-200 flex items-center justify-center"
        >
          Send Notification Email
        </a>
      </div>
    </div>
  </div>
</main>

<script src="/js/leadHome.js"></script>

<%- include('include/_footer') %> <%- include('include/_end') %>

<style>
  .row {
    display: flex;
  }
  .column {
    flex: 50%;
    padding: 10px;
  }
</style>
