<%- include('include/_header') %>

<!-- Main Site -->
<main>
  <div class="indexTopBar">
    <h2>Student Home Page</h2>
  </div>
</main>

<!-- /Main Site -->

<script src="/js/stuHome.js"></script>

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
