<%- include('include/_header') %>

<!-- Main Site -->
<main>
  <div class="indexTopBar">
    <img src="img/SE-GitHub-image.png" alt="Huskie Code Logo" />
    <h1>Peer Tutor Website</h1>
    <h2>Teacher Home Page</h2>
  </div>
</main>

<!-- /Main Site -->

<script src="/js/teachHome.js"></script>

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
