<%- include('include/_header') %> <%- include('include/_teachNavBar') %>

<!-- Main Site -->
<main>
  <h1 class="heading">Teacher Resources</h1>
  <div class="blue-box">
    <h3 class="h3">Database Tables</h3>
    <div class="form-columns">
      <div class="column">
        <a href="/tutorTable" class="full-width-blue-button" role="button"
          >Tutor Database Table</a
        >
      </div>
      <div class="column">
        <a href="/sessionTable" class="full-width-blue-button" role="button"
          >Session Database Table</a
        >
      </div>
    </div>
  </div>
</main>

<%- include('include/_footer') %>

<style>
  .row {
    display: flex;
  }
  .column {
    flex: 50%;
    padding: 10px;
  }
</style>

<script src="js/teachHome.js"></script>
