<%- include('include/_header') %> <%- include('include/_stuNavBar') %>

<!-- Main Site -->
<main>
  <div class="parent-container">
    <h2 class="h2">Tutor Resources</h2>
  </div>

  <div class="container">
    <h3 class="h3">Tutor Forms</h3>
    <button>
      <a class="full-width-button" href="/tutorForm" role="button"
        >Session Form</a
      >
    </button>

    <button>
      <a class="full-width-button" href="/expertiseForm" role="button"
        >Expertise Form</a
      >
    </button>
  </div>

  <script src="js/tutHome.js"></script>
</main>
