<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<!-- Main Site -->
<main>
  <div class="indexTopBar">
    <img src="img/SE-GitHub-image.png" alt="Huskie Code Logo" />
    <h1>Peer Tutor Website</h1>
    <h2>Tutor Home Page</h2>
  </div>

  <div>
    <label>Tutee Name <textarea class="content"></textarea></label>
    <label>Tutee ID <textarea class="content"></textarea></label>
    <label>
      <label>Tutee Grade</label>
    <label>
      <input type="radio" class="content" name="Grade" value="9" /> 9
    </label>
    <br />
    <label>
      <input type="radio" class="content" name="Grade" value="10" /> 10
    </label>
    <br />
    <label>
      <input type="radio" class="content" name="Grade" value="11" /> 11
    </label>
    <br />
    <label>
      <input type="radio" class="content" name="Grade" value="12" /> 12
    </label>

<label for="sessionPeriod">Session Period</label>
<select id="sessionPeriod" name="Period">
  <option value="4th">4th</option>
  <option value="5th">5th</option>
  <option value="6th">6th</option>
  <option value="WIN">WIN</option>
  <option value="RAT">RAT</option>
</select>

<label for="sessionPlace"> Where the Session Took Place </label>
<select id="sessionPlace" name="Place">
  <option value="Literacy Center">Literacy Center</option>
  <option value="Community Center">Community Center</option>
  <option value="Rent-A-Tutor">Rent-A-Tutor</option>
  <option value="WIN">WIN</option>
</select>

<label for="sessionClass"> Math </label>
<select id="sessionClass" name="Class">
  <option value="Literacy Center">Literacy Center</option>
  <option value="Community Center">Community Center</option>
  <option value="Rent-A-Tutor">Rent-A-Tutor</option>
  <option value="WIN">WIN</option>
</select>



    <label>Date <input type="date" class="date" /></label>

    <label
      >Journal Entry <textarea class="content">my journal entry</textarea>
    </label>
    <input type="submit" class="submit" value="Submit" />
  </div>
</main>

<!-- /Main Site -->

<script src="/js/tutHome.js"></script>

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
