<%- include('include/_header') %> <%- include('include/_stuNavBar') %>

<!-- Main Site -->
<main>
  <div class="parent-container">
    <h2 class="h2">Tutor Resources</h2>
  </div>
  <button>
    <a href="/expertiseForm" role="button">Tutor Expertise Form</a>
  </button>
</main>

<!-- /Main Site -->

<script src="/js/tutHome.js"></script>

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
