<%- include('include/_header') %> <%- include('include/_stuNavBar') %>

<!-- Main Site -->
<main>
  <h1 class="heading">Tutor Resources</h1>
  <div class="createEntry-form-box">
    <h3 class="h3">Tutor Forms</h3>
    <div class="form-columns">
      <div class="column">
        <a href="/tutorForm" class="full-width-button" role="button"
          >Session Form</a
        >
      </div>
      <div class="column">
        <a href="/expertiseForm" class="full-width-button" role="button"
          >Expertise Form</a
        >
      </div>
    </div>
  </div>
</main>

<%- include('include/_footer') %>

<style>
  .row {
    display: flex;
  }
  .column {
    flex: 50%;
    padding: 10px;
  }
</style>

<script src="js/tutHome.js"></script>
