<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<!-- Main Site -->
<main>
  <div class="indexTopBar">
    <img src="img/SE-GitHub-image.png" alt="Huskie Code Logo" />
    <h1>Peer Tutor Website</h1>
    <h2>Tutor Home Page</h2>
  </div>

  <form>
    <!-- Basic Information -->
    <div>
      <label for="tuteeName">Tutee Name</label>
      <input type="text" id="tuteeName" name="tuteeName" />

      <label for="tuteeID">Tutee ID</label>
      <input type="text" id="tuteeID" name="tuteeID" />

      <label for="sessionDate">Date</label>
      <input type="date" id="sessionDate" name="sessionDate" />
    </div>

    <!-- Tutee Grade -->
    <div>
      <label>Tutee Grade</label>
      <label><input type="radio" name="grade" value="9" /> 9</label>
      <label><input type="radio" name="grade" value="10" /> 10</label>
      <label><input type="radio" name="grade" value="11" /> 11</label>
      <label><input type="radio" name="grade" value="12" /> 12</label>
    </div>

    <!-- Session Details -->
    <div>
      <label for="sessionPeriod">Session Period</label>
      <select id="sessionPeriod" name="sessionPeriod">
        <option value="">Select a Period</option>
        <option value="4th">4th</option>
        <option value="5th">5th</option>
        <option value="6th">6th</option>
        <option value="WIN">WIN</option>
        <option value="RAT">RAT</option>
      </select>

      <label for="sessionPlace">Session Location</label>
      <select id="sessionPlace" name="sessionPlace">
        <option value="">Select a Place</option>
        <option value="Literacy Center">Literacy Center</option>
        <option value="Community Center">Community Center</option>
        <option value="Rent-A-Tutor">Rent-A-Tutor</option>
        <option value="WIN">WIN</option>
      </select>
    </div>

    <!-- Course Selection -->
    <div>
      <label for="subject">Select a Subject</label>
      <select id="subject" name="subject" onchange="updateClasses()">
        <option value="">Select a Subject</option>
        <option value="Math">Math</option>
        <option value="English">English</option>
        <option value="CTE">CTE</option>
        <option value="Fine Arts">Fine Arts</option>
        <option value="Wellness">Wellness</option>
        <option value="World & Classical Language">
          World & Classical Language
        </option>
        <option value="Science">Science</option>
        <option value="Social Studies">Social Studies</option>
      </select>

      <label for="class">Select a Class</label>
      <select id="class" name="class">
        <option value="">Select a Class</option>
      </select>

      <label for="teacher">Select a Teacher</label>
      <select id="teacher" name="teacher">
        <option value="">Select a Teacher</option>
      </select>
    </div>
  </form>
</main>
