<%- include('include/_header') %> <%- include('include/_stuNavBar') %>

<!-- Main Site -->
<main>
  <div class="parent-container">
    <h2 class="h2">Tutor Resources</h2>
  </div>

  <a href="/tutorForm" role="button">Session Form</a>

  <button>
    <a href="/expertiseForm" role="button">Tutor Expertise Form</a>
  </button>

  <script src="js/tutHome.js"></script>
</main>
