<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tutor Attendance</title>
    <style>
      .hidden {
        display: none;
      }
    </style>
  </head>
  <body>
    <h1>Tutor Attendance</h1>
    <form id="idForm">
      <label for="tutorID">Enter your ID number:</label>
      <input type="text" id="tutorID" name="tutorID" required />
      <button type="submit">Submit</button>
    </form>
    <div id="attendance" class="hidden">
      <p id="attendanceValue">Attendance</p>
    </div>

    <script src="/js/tutorAttendance.js"></script>
  </body>
</html>
