<%- include('include/_header') %> <%- include('include/_tutNavBar') %>

<!DOCTYPE html>
<html lang="en">
  <head>
    <h1 class="black-heading">Tutor Attendance</h1>
  </head>
  <body>
    <form id="idForm">
      <label for="tutorID">Enter your ID number:</label>
      <input type="search-input" id="tutorID" name="tutorID" required />
      <button type="submit">Submit</button>
    </form>

    <table border="1">
      <tr>
        <th></th>
        <th>Value</th>
      </tr>
      <tr>
        <td>Days Missed</td>
        <td>...</td>
      </tr>
      <tr>
        <td>Number of Sessions</td>
        <td>...</td>
      </tr>
      <tr>
        <td>Session History</td>
        <td>...</td>
      </tr>
    </table>

    <script src="/js/tutorAttendance.js"></script>
  </body>
</html>

<%- include('include/_footer') %>
