<%- include('include/_header') %> <%- include('include/_tutNavBar') %>

<!DOCTYPE html>
<html lang="en">
  <head>
    <h1 class="black-heading">Tutor Attendance</h1>
  </head>
  <body>
    <form id="idForm">
      <label for="tutorID">Enter your ID number:</label>
      <input type="text" id="tutorID" name="tutorID" required />
      <button type="submit">Submit</button>
    </form>
    <div id="attendance" class="hidden">
      <p id="attendanceValue">Attendance</p>
    </div>

    <script src="/js/tutorAttendance.js"></script>
  </body>
</html>

<%- include('include/_footer') %>
