<!-- Navigation Bar -->

<head>
  <div class="navbar">
    <a href="/" class="blue-button" role="button">Home</a>
    <a href="/adminHome" class="orange-button" role="button">Admin Homepage</a>
  </div>
</head>
