<!DOCTYPE html>
<html lang="en">
  <footer>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/pico.min.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <p class="footer">Last updated January 2025</p>
  </footer>
  <body></body>
</html>
