<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Huskie Peer Tutoring</title>
    <link rel="stylesheet" href="/css/pico.min.css" />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <!-- Huskie Logo (link to homepage) -->
  <div class="indexPhoto">
    <a href="/">
      <img src="/img/SE-GitHub-image.png" alt="Huskie Code Logo" />
    </a>
  </div>

  <!-- Journal Title -->
  <div class="title">
    <h1>Huskie Peer Tutoring</h1>
  </div>