<head>
  <div class="navbar">
    <a href="/stuHome" class="blue-button" role="button">Student</a>
    <a href="/tutHome" class="blue-button" role="button">Tutor</a>
    <a href="/leadHome" class="blue-button" role="button">Tutor Leader</a>
    <a href="/teachHome" class="blue-button" role="button">Teacher</a>
    <a href="/adminHome" class="blue-button" role="button">Admin</a>
  </div>
</head>
