<!-- Navigation Bar -->

<head>
  <div class="navbar">
    <a href="/" class="blue-button" role="button">Home</a>
    <a href="/leadHome" class="orange-button" role="button"
      >Tutor Leader Homepage</a
    >
  </div>
</head>
