<!-- Navigation Bar -->
<nav class="navbar">
  <ul>
    <li><a href="/" class="submit" role="button">Home</a></li>
    <li><a href="/tutHome" class="submit" role="button">Tutor Homepage</a></li>
  </ul>
</nav>
