<!-- Navigation Bar -->

<head>
  <div class="navbar">
    <a href="/" class="submit" role="button">Home</a>
    <a href="/teachHome" class="submit" role="button">Teacher Homepage</a>
  </div>
</head>
